<!-- <div>
  <div class="row m-5">
  <div *ngFor="let event of events" class=" card mb-3">
     <img src="{{event.image}}" class="card-img-top" heigh="250" alt="...">
     <div class="card-body">
       <h5 class="card-tile">{{event.name}}</h5>
       <p class="card-text">{{event.description}}</p>
       <p class="card-text">{{event._id}}</p>
       <p class="card-text" class="text-body-secondary"><small>Last Update {{event.lastUpdate}} min ago</small>></p>
       <a routerLink = "/eventDetail/{{event._id}}">ver más</a>
     </div>
   </div>
 </div>
 </div> -->

 <div>
  <div class="row m-5">
    <div *ngFor="let event of events" class="col-lg-3 col-md-4 col-sm-6 mb-3">
      <div class="card h-100">
        <img src="{{event.image}}" class="card-img-top" alt="..." style="height: 250px; object-fit: cover;"> 
        <div class="card-body">
          <h5 class="card-title">{{event.name}}</h5>
          <p class="card-text">{{event.description}}</p>
          <p class="card-text">{{event._id}}</p>
          <p class="card-text"><small>Last Update {{event.lastUpdate}} min ago</small></p>
          <a [routerLink]="['/eventDetail', event._id]">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>

